<!DOCTYPE html>
<html>
   <head>
      <title>What the Code</title>
      <!-- Not present in the tutorial. Just for basic styling. -->
      {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
      {% endassets %}
      <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.11.1/react.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.11.1/JSXTransformer.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700' rel='stylesheet' type='text/css'>
   </head>
   <body>
      <div id="content">
         <script type="text/jsx" src="js/wtc.js"></script>
      </div>
   </body>
</html>
